body {
    font-family: Arial, sans-serif;
    background-color: #a71a1a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #28a745;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.edit-btn, button.delete-btn {
    background: #ffc107;
    border: none;
    color: #fff;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}

button.delete-btn {
    background: #dc3545;
}

button.edit-btn:hover {
    background: #e0a800;
}

button.delete-btn:hover {
    background: #c82333;
}
